[2015-10-03 10:59] xPaw opened #3 "Skip hovercards on user page for said user"
What I mean is: If I am on @Justineo's user page, don't show hovercard for @Justineo. I think it's pretty pointless as the same information is visible in the sidebar.

[2015-10-03 15:39] stagas opened #4 "Repo description"
It'd be nice to also show the repo description on its card.

[2015-10-04 11:06] vkeusebio commented on #3
+1

[2015-10-05 13:56] Psidium opened #6 "Add support to Github Enterprise"
Hi,
I'd like to use this plugin with Github enterprise, so I've forked and used `grep` to change `github.com` to `github.wdf.sap.corp` (our company's Github Enterprise location).

I can't make a pull request now to add a selector of github addresses, but my fork http://github.com/psidium/github-hovercard is working for me, so it's okay.

thanks for the plugin,
gabriel

[2015-10-06 06:30] #4 closed

[2015-10-06 07:36] #3 closed

[2015-10-06 09:14] Justineo commented on #6
It should be possible to make the target domain an extension option. Maybe I'll look into this but I can't guarantee the time.

[2015-10-10 00:43] Justineo commented on #6
I'm working on this issue but I found Chrome has bugs for extensions that require dynamically granted origin permissions. The permissions will be gone after the extension updates or the browser  restarts. See this: [Optional host permissions forgotten after browser restart](https://code.google.com/p/chromium/issues/detail?id=310815). That means I may need to request permission for all origins and

[2015-10-10 17:55] xPaw opened #8 "Ask the user to enter token key when a private repo is encountered"
All it does at the moment is say "Not Found", and there is no way around it.

[2015-10-10 18:36] Justineo commented on #6
@Psidium

I just updated both Chrome and Firefox version, would you like to help me test it?

Just add `github.wdf.sap.corp` into Chrome extension options or Firefox add-on preference and try loading GitHub pages again.

[2015-10-10 18:38] Psidium commented on #6
sure! Let me remote into my work machine and I'll let you know :)

2015-10-10 15:36 GMT-03:00 GU Yiling <notifications@github.com>:

--
Gabriel Borges Fernandes

[2015-10-10 19:26] Psidium commented on #6
Dunno if it's my WTS session, but when I click on options and then "add" or "save" it does nothing.

[2015-10-11 04:30] Justineo commented on #6
What's your Chrome version?

You can right click on the options panel and click "Inspect Element", check if there are any error in the console panel.

[2015-10-11 04:45] #8 closed

[2015-10-20 06:32] Justineo commented on #6
@Psidium I updated options logic and now it should work for GitHub Enterprise. You can try out if you got time :smile:

[2015-11-03 06:08] Justineo commented on #6
Supported in v0.3 but may need more testing.

[2015-11-03 06:08] #6 closed

[2015-11-06 11:51] Psidium commented on #6
Hey! sorry for the late response, but it works like a charm in github enterprise :+1: thaankssss

[2015-12-26 13:36] djyde opened #9 "Is it possible to show whether the particular user is following me?"

[2015-12-26 14:01] Justineo commented on #9
Yes. And also follow/unfollow/star/unstar features may be shipped in next major update (only works for users who have already provided access key).

[2015-12-27 16:43] andycaramba opened #10 "GitHub search page broken"
Hi. I have broken GitHub search page with enabled Hovercard extension in Chrome.

Without extension
![search react native 2015-12-27 21-35-40](https://cloud.githubusercontent.com/assets/229699/12011087/7a9cca20-ace2-11e5-89a0-ce9ba366d6a2.png)

With extension
![search react native 2015-12-27 21-36-49](https://cloud.githubusercontent.com/assets/229699/12011090/8a236d64-ace2-11e5-9632-722505e66f78.p

[2015-12-27 17:00] Justineo commented on #10
Just confirmed as a bug. I'll fix this in the next version. Thanks for reporting :)

[2015-12-27 17:27] #10 closed

[2015-12-28 06:18] demohi opened #11 "access token not work"
[code]

After I set the access token,  this error  still exist

[2015-12-28 06:52] Justineo commented on #11
Is there any console error? And can you have a look at `localStorage.getItem('hovercard-token')` on GitHub? Is it set?

[2015-12-28 14:33] drewbailey commented on #11
Having this issue as well.
[code]

[2015-12-29 01:24] demohi commented on #11
same with @drewbailey

[2015-12-29 06:19] Justineo commented on #11
@demohi @drewbailey What browser are you using? If you are using Chrome, would you plz check chrome://settings/content and what option is selected under "Cookies" section?

[2015-12-29 13:43] twidi commented on #11
Note that I had the same problem. I did a check with `localStorage.getItem('hovercard-token')` and I saw my token prefixed with a space, added by double-clicking on the token on Github to copy it.

[2015-12-29 14:47] Justineo commented on #11
@twidi it looks like your problem is not the same and providing invalid tokens will get a different error message. I can trim the token first to prevent that.

[2015-12-30 01:00] ekinertac opened #12 "Timeout for show/hide"
Could you guys thinking add an option for show/hide timeout ?

[2015-12-30 02:03] demohi commented on #11
@JamieSinn  I am using Chrome Version 47.0.2526.106 (64-bit). Cookies is allowed to set.

[2015-12-30 04:32] Justineo commented on #12
So what's the problem here? Are tooltips popping up too quickly?

[2015-12-30 07:48] JamieSinn commented on #11
@demohi You probably mean @Justineo

[2015-12-30 10:15] demohi commented on #11
@JamieSinn  sorry for that :disappointed_relieved:

[2015-12-30 10:37] Justineo commented on #11
@demohi I sent a Weibo private message to you and perhaps we can discuss the problem more efficiently there :)

[2016-01-01 04:27] Justineo commented on #11
Thanks to @demohi, the problem is probably caused by writing over 5MB into localStorage which exceeds its quota.

The upcoming solution might be:
1. Give an error message when failed to write into localStorage and let users to clear up
2. Use Chrome's option to store access tokens (should be the better way)

The fix will probably come with v0.4.

[2016-01-07 17:35] atoooooooooom10 opened #14 "Cross Site Scripting"
“><script>alert(document.cookie)</script>

Just hover your mouse to my issue and XSS will pop out.

<img src="http://i.imgur.com/mTle1hI.png" />

[2016-01-07 17:45] Justineo commented on #14
Thanks for reporting. This should be fixed asap.

[2016-01-07 17:47] atoooooooooom10 commented on #14
Happy to help.

[2016-01-08 08:49] #14 closed

[2016-01-08 08:52] Justineo commented on #14
Added XSS filtering using [js-xss](https://github.com/leizongmin/js-xss). Can't do HTML encode for issue body because it's Markdown (which may contain HTML tags).

[2016-01-15 20:22] srisankethu opened #15 "In chrome,a closed pull request is shown as merged"
![screenshot 16](https://cloud.githubusercontent.com/assets/12644108/12364286/c0758b70-bbf3-11e5-8788-f9cc5607330f.png)

[2016-01-17 04:14] Justineo commented on #15
It's a bug. Thanks for reporting. It seems that one more request to GitHub API is required to tell if an issue is a closed PR or a merged one.

[2016-01-18 09:47] #15 closed

[2016-01-19 01:57] sknebel opened #16 "filepaths in search results interpreted as repositories"
Version: 0.3.5 from Chrome Web Store.

Go to a page with [search results in a repo](https://github.com/Justineo/github-hovercard/search?utf8=%E2%9C%93&q=assets-cdn), hover over a link with a / in it, like `assets/emoji.json`. github-hovercard tries to resolve *assets* to a user/organisation and *emoji.json* to a repository. It should instead ignore those links.

![image](https://cloud.githubuserco

[2016-01-19 03:19] #16 closed

[2016-01-30 05:54] waldens opened #17 "trending页的下拉列表失效？"
我这边，Firefox43.02 + Userscript脚本方式
会造成<https://github.com/trending>，这个页面的这俩按钮失效。如图
只有我这样吗？

PS：发这个issue时，又发现，编辑框的Preview也不能点按了

![](http://ww1.sinaimg.cn/large/d80a8e60gw1f0hh96u3m6j20dw09274w.jpg)

[2016-02-01 16:03] Justineo commented on #17
Userscript 版本引入的 jQuery 和 GitHub 自带的冲突了（插件版运行环境是隔离的），我修复一下。

[2016-02-01 16:07] #17 closed

[2016-02-01 16:50] Justineo opened #18 "GitHub is using SVG Octicons instead of font icons"
This broke icon display for GitHub hovercard.

[2016-02-03 11:41] #18 closed

[2016-03-08 10:55] OmgImAlexis opened #19 "octicons.woff is being loaded even though it's not needed"
If I enable this extension and check Chrome's console I get warnings that `/octicons.woff` is trying to be loaded but can't since it violates the CSP rules Github has enabled. Since it never loads I'm assuming it's not actually needed. I tried searching through the project but can't seem to find where it actually attempts to load the file.

[2016-03-09 04:26] Justineo commented on #19
Hi. Thanks for reporting.

Octicons are no longer loaded as icon font in GitHub and GitHub Hovercard has switched to use SVG icons in the latest version so you can't find the piece of code which loads the font files now.

[2016-03-09 04:26] #19 closed

[2016-03-09 04:36] Justineo commented on #11
Still using localStorage to save the access token because I haven't come up with a proper design for the options page if each domain needs an access token. The problem is described in project FAQ and I'm not going to change the logic for now.

[2016-03-09 04:36] #11 closed

[2016-03-09 04:41] Justineo commented on #9
I implemented this but decided to revert back because the feature requires three AJAX requests at one time to show user information. This might be bothering for those who haven't bound their access tokens and I don't quite like too much information inside a user hovercard and it's not easy to make it neat and clean. So I'll not shipping this feature in the next releases.

[2016-03-09 04:41] #9 closed

[2016-03-09 04:43] Justineo commented on #12
I don't quite understand the feature request (if I'm correct) so I'll close this for now.

[2016-03-09 04:43] #12 closed

[2016-03-19 20:03] TheInitializer opened #20 "API limit exceeded"

[2016-03-20 04:31] Justineo commented on #20
Did the card suggest you to create and bind an access token to avoid this?

[2016-03-20 13:52] TheInitializer commented on #20
Yes, I created it and now don't know what to do with it

[2016-03-20 19:42] Justineo commented on #20
There should be a popup form to fill in the token you just created on the GitHub page you were visiting. Did you see it?

[2016-03-20 20:22] TheInitializer commented on #20
No

[2016-03-20 20:22] TheInitializer commented on #20
It just showed the little message

[2016-03-21 03:49] Justineo commented on #20
Okay I see it should be fixed in `v0.4.1`. Tell me if it works please :)

[2016-03-21 04:24] Justineo commented on #20
Sorry I'm now able to reproduce the problem right now. Does this happen all the time? And which version(Chrome/Firefox/Opera/..., version number) are you using? Does it happen on all cards (user/repo/issue)? Thanks :)

[2016-03-21 20:50] TheInitializer commented on #20
Firefox Developer Edition 47.0a2. It hasn't happened in a while, mostly because I try to not use it excessively, and when it does happen, it happens on every card.

[2016-03-22 06:20] Justineo commented on #20
@TheInitializer Thanks for the info. I'll look into this.

[2016-03-24 17:30] chuanconggao opened #21 "Not working on user profile page"
The extension is not working on the repositories of a user's profile page.

For example, https://github.com/Justineo.

[2016-03-24 17:59] #21 closed

[2016-03-25 03:02] chuanconggao opened #22 "Popup position is not right on smooth zoomed page on OS X"
The popup position is not right on OS X, if zoomed by pinch-and-zoom with two fingers on trackpad.

[2016-03-25 14:36] Justineo commented on #22
It's a problem of Tooltipster. I've reported an issue there: https://github.com/iamceege/tooltipster/issues/541

[2016-04-05 09:44] Justineo commented on #20
@TheInitializer Hi, I made some updates on API requests. Because I wasn't able to reproduce your problem so I'm just hoping that it's fixed in the latest version.

[2016-04-05 10:01] Justineo commented on #22
This issue won't be fixed in this project so I'm closing this for now.

[2016-04-05 10:01] #22 closed

[2016-04-06 12:40] marktopper commented on #20
The popup does not show the actual form for inputting the API token generated.
![screen shot 2016-04-06 at 14 39 11](https://cloud.githubusercontent.com/assets/2232539/14316820/6e61692e-fc05-11e5-9bee-59737a620662.png)

[2016-04-06 14:00] Justineo commented on #20
@marktopper Did it show after you clicked the "Create a new access token" link?

[2016-04-07 07:16] marktopper commented on #20
@Justineo, will check it out.

[2016-04-07 07:25] marktopper commented on #20
I can confirm that you are right @Justineo.

![screen shot 2016-04-07 at 09 24 25](https://cloud.githubusercontent.com/assets/2232539/14343640/9e2884ec-fca2-11e5-8a9c-d519fcc1e1d9.png)

[2016-04-13 20:18] devkhan opened #23 "Delayed appearance of hover-cards?"
Right now the hover cards appear immediately on hover over a link. An option to delay the appearance of the cards will be useful like in Facebook.

I can try to implement it if there is a demand.

[2016-04-14 08:09] Justineo commented on #23
This may be helpful for some people. I can ship this feature in the next release.

[2016-04-14 08:10] Justineo commented on #20
Closing this now. Feel free to reopen if it still occurs.

[2016-04-14 08:10] #20 closed

[2016-04-16 04:49] Justineo commented on #23
The feature will be implemented for browser extension versions in `v0.5.0`. Publishing soon.

[2016-04-16 04:49] #23 closed

[2016-05-06 03:27] edjroot opened #24 "Immediately reset timeout on mouseout/mouseleave"
First of all, great extension! :)

I noticed that the timeout isn't immediately reset when the mouse cursor leaves links (and I think it should). As an example, you can set the delay to, say, 2000 ms, go to your profile page and wildly move the cursor over your repos. After enough time, at least one hovercard will appear. While wildly moving your cursor isn't a very common thing to do, this still

[2016-05-06 06:29] Justineo commented on #24
At the moment I'm using a dev version of Tooltipster to generate popup tooltips and `delay` is actually handled there. Maybe I'll try a later version sometime but I don't think I'll fix this problem in this project.

[2016-05-06 17:33] edjroot commented on #24
Ok, no problems. Mind a pull request (as long as I have the time to do it)?

[2016-05-19 01:24] alexfalcucc opened #25 "hovercard is not working anymore"
trying to load the card and get this when always load the github page:
![hovercard](https://cloud.githubusercontent.com/assets/6964211/15379828/3cde1218-1d47-11e6-9552-ee7152453909.png)

note: it's strange because when I go to your [github.io](https://justineo.github.io/github-hovercard/) page, it works fine.

[2016-05-19 03:25] Justineo commented on #25
I cannot reproduce your problem on my laptop. Could you please provide the extension version / browser version so that I can look into this?

[2016-05-19 03:30] alexfalcucc commented on #25
yeah, here's both:

Google Chrome 50.0.2661.102
GitHub Hovercard 0.5.0

[2016-05-19 03:37] alexfalcucc commented on #25
closing this issue.

I've just reinstalled Google Chrome and it works!

thank you

[2016-05-19 03:37] #25 closed

[2016-05-19 03:38] Justineo commented on #25
OK.

[2016-05-27 01:04] codynguyen1116 opened #26 "UI bug is glitching"
Not sure how to describe it, so I'll give a screenshot: I'm using Chrome 50.0.2661.102 on Windows 10.

![image](https://cloud.githubusercontent.com/assets/4723983/15594637/0491cdbe-237d-11e6-839d-ce66b38b1aad.png)

[2016-05-27 03:27] Justineo commented on #26
Thanks for reporting! I'm able to reproduce this problem and will look into this.

[2016-05-27 03:30] Justineo commented on #26
Oops, it seems that GitHub has updated it's styles which contain some naming conflicts with my extension.

[2016-05-27 03:51] Justineo commented on #26
@codynguyen1116 The problem is now fixed in the latest version :)

[2016-05-27 07:41] #26 closed

[2016-05-27 12:07] julmot opened #27 "Hovercard styling issue"
For me it's broken since today:

![hover-issue](https://cloud.githubusercontent.com/assets/8310677/15607578/3f190f32-2414-11e6-8eec-c8034d06784b.png)

Browser : FF 48.0a2

[2016-05-27 12:16] Justineo commented on #27
See #26. The fix version of Firefox is currently under review  and did not published yet .

[2016-05-28 02:33] codynguyen1116 commented on #26
@Justineo thanks :D

[2016-05-28 04:58] Justineo commented on #27
GitHub Hovercard Firefox add-on v0.6.3 is public now.

[2016-05-28 04:58] #27 closed

[2016-05-28 06:38] julmot opened #28 "local time"
When working with people around the world it would be very helpful to know the local time of them. This can be determined by the location they have (possibly) provided.

Steps:
1. Detect if they have provided a location
2. Detect the timezone by the location (maybe with a third party service)
3. Display the time with the timezone in user hovercards

[2016-05-28 07:15] Justineo commented on #28
It would be a helpful feature in some occations but I think the extension will probably continue to be an easy access to the information GitHub *already* provided. I think this may be a bit of overkill but will still keep this issue open for a while, to see if there are others who want this feature.

Thanks for the suggestion! :smile:

[2016-05-28 08:55] julmot commented on #28
Honestly, I don't think someone will reply here. I as a user only visited the issues after I stumbled on one.

However, why do you want to limit the information to just those that are available on GitHub itself? I don't see a disadvantage of implementing this.

[2016-05-28 10:23] Justineo commented on #28
Because it looks like this feature probably need to depend on a third party API, which will introduce quite many further problems to solve.

The step 2 you mention actually is a little complicated.

* Fetching data may become slower.
* Not all APIs support cross domain browser requests (via CORS).
* Location name to altitude/latitude may need another request.
* Is the API able to deal with multi-l

[2016-05-29 08:19] fayimora opened #29 "Broken UI"
I noticed a day or two ago, the UI was broken. Any idea why?

<img width="520" alt="screenshot 2016-05-29 09 17 49" src="https://cloud.githubusercontent.com/assets/648684/15632056/643921d8-257e-11e6-906a-2b662e5936b9.png">

[2016-05-29 08:36] Justineo commented on #29
See #27. Please update to latest version and try again. :)

[2016-05-29 08:36] #29 closed

[2016-05-29 08:42] fayimora commented on #29
Oops, I should have looked at closed issues. Couldn't figure out how to update though so I just deleted and re-installed.

[2016-05-30 09:38] julmot commented on #28
![here-we-go](https://cloud.githubusercontent.com/assets/8310677/15645849/0bdeb024-265b-11e6-912a-c15e6439ad6f.png)

[2016-05-30 09:44] Justineo commented on #28
Yes, it's great if GitHub support this. Calculating this using location info from an extension may be an overkill. Let users set their timezones seems much easier.

[2016-05-30 09:46] Justineo commented on #28
(But GitHub usually moves slowly for feature requests...)

[2016-05-30 12:05] julmot commented on #28
Reply from @staceb
![stacey](https://cloud.githubusercontent.com/assets/8310677/15649127/69bfca5c-266f-11e6-820c-43c9de1814a8.png)
I'll let you know when there is any update on this.

[2016-06-02 15:55] julmot opened #30 "Hovercard tooltip issue"
![issue](https://cloud.githubusercontent.com/assets/8310677/15751633/10b393f2-28eb-11e6-822c-51be40a7934f.png)
Another tooltip will be displayed.

[2016-06-03 01:19] Justineo commented on #30
It's the GitHub's original tooltip. Maybe we should block them when our hovercards show.

[2016-06-03 04:56] julmot commented on #30
Absolutely.

[2016-06-13 12:56] Justineo commented on #30
Fixed in `v0.6.4`. I'll publish it shortly, thanks for the suggestion :)

[2016-06-13 12:56] #30 closed

[2016-06-15 04:42] Justineo commented on #24
Won't fix in this project.

[2016-06-15 04:42] #24 closed

[2016-06-15 04:43] Justineo commented on #28
Let's wait to see if GitHub will support time zone settings.

[2016-06-15 04:43] #28 closed

[2016-07-11 10:06] yibuyisheng opened #31 "浮层出来的速度有点快，容易误点浮层中的链接。"
如题。

[2016-07-11 11:42] Justineo commented on #31
选项里可以设置 `delay`。

[2016-07-12 00:49] yibuyisheng commented on #31
果然好使。

[2016-07-12 00:49] #31 closed

[2016-07-17 10:59] koppor opened #32 "Plugin is very slow on some pages"
I get the script termination warnings at some pages when this plugin is activated. It complains at a line in jquery.js.

Example site where I have issues: https://github.com/JabRef/jabref/pull/1479

Can the plugin be disabled on certain pages?

[2016-07-17 12:42] Justineo commented on #32
I can't reproduce your problem right now. The example URL didn't seem to be any different from other pages on my side. What's your OS/browser?

[2016-07-17 15:12] koppor commented on #32
Firefox 47.0.1 on Microsoft Windows Version 10.0.10586 (latest Windows 10 Pro)

[2016-07-17 17:53] Justineo commented on #32
Thanks, I'll look into this soon.

[2016-07-18 05:32] #32 closed

[2016-07-18 05:42] Justineo commented on #32
The latest version has fixed this issue. The Firefox Add-on is still under review and will be published soon. @koppor

GitHub Hovercard is using `MutationObserver` to track down content change on GitHub and GitHub periodically updates the timestamps in the page (which may contain many timestamps if the issue has a lot of comments) so that the content extraction performed by GitHub Hovercard was ke

[2016-08-01 09:27] louy2 opened #33 "jQuery Ramdomly Hanging Firefox"
For several times jQuery from hovercard has hanged my Firefox to a timeout popup which offers to debug the script. It seems random.

[2016-08-01 09:29] Justineo commented on #33
Which version of GitHub Hovercard are you using? If you are not using the latest version, that may be the same problem as #32.

[2016-08-01 12:17] louy2 commented on #33
Thanks, I think I've met the same problem. I am using 0.6.6.

[2016-08-01 18:33] Justineo commented on #33
@louy2 You mean the problem is still there for 0.6.6?

[2016-08-02 14:39] louy2 commented on #33
From the update time (July 31) I am pretty certain I met this on 0.6.6. But I haven't for some time, so let me close this until another case.

[2016-08-02 14:39] #33 closed

[2016-08-12 15:48] dodekeract opened #34 "Add Permission Explanation"
It'd be really nice to know why this plugin needs the permissions it requests, **especially** why it needs to view my browser history.

I can't think of any reason why it would need the history, so at this point this makes the plugin quite untrustworthy TBH.

[2016-08-13 05:35] Justineo commented on #34
The extension relies on Chrome Extension's `webNavigation` API to dynamically inject content script into the webpage because users can set site URL for GitHub Enterprise so the injection has to be dynamic. For each time you visit a URL, the extension will try to match the URL against the options and decide whether to inject content scripts, see [here](https://github.com/Justineo/github-hovercard/b

[2016-08-13 05:50] Justineo commented on #34
I just added this into [FAQ](https://github.com/Justineo/github-hovercard/blob/gh-pages/README.md#faq). Thanks for reporting your concerns. I'll try to find a better solution for this.

[2016-08-18 10:10] Justineo commented on #34
I checked the way Octotree handles this problem. It tries to inject content scripts into *every* webpage and if it got an error (because of no permission granted for most sites) it stops. Octotree won't know the exact URL you are visiting but if no error occurs it knows that the site's permission is already granted. GitHub Hovercard tries to make sure the site you are visiting *is* already in the

[2016-08-19 00:28] dodekeract commented on #34
@Justineo sounds like a huge oversight from Chromium IMHO. They should've implemented a method to check if you have permission on the current site.

[2016-08-20 06:50] louy2 opened #35 "jQuery Hangs on Github Feed More"
I finally found this reproducible case of hanging jQuery of hovercard.

1. Sign in GitHub
2. Scroll to bottom of feed
3. Click "More"

[2016-08-21 09:25] Justineo commented on #35
Thanks for reporting. I looked into this and found it's actually the same problem as #32. Timestamps on the feed will be turned into relative time after page load. This triggers GitHub Hovercard to re-scan the page content to find if there is new extractable content.

The problem will be fixed in v0.7.2.

[2016-08-21 09:58] #35 closed

[2016-09-17 09:57] #34 closed

[2016-09-17 09:58] Justineo opened #36 "Incorrect extraction due to GitHub's latest update"
Working on it.

[2016-09-19 10:52] Justineo commented on #36
Resolved in https://github.com/Justineo/github-hovercard/commit/07be1e556f1da13422103f779018f7711d7d5b82.

[2016-09-19 10:52] #36 closed

[2016-09-24 16:52] SSARCandy opened #37 "repo name are overlaping with slash"
![image](https://cloud.githubusercontent.com/assets/6803791/18809878/4dd310f4-82ba-11e6-8130-cd8a105e5753.png)

In trending page, all repo name are overlaping with the `/`, I found that in original style, all repo name will prefix with `space`, but when enabled, it didn't.

[2016-09-24 17:48] #37 closed

[2016-09-24 17:50] Justineo commented on #37
It's fixed in the latest version. Thanks.

[2016-10-02 08:54] Justineo opened #38 "Better scroll bar styles for Windows"
From Chrome Webstore user feedback.

[2016-10-05 04:38] Justineo commented on #38
Resolved in 62ecea68dc173bab6083149da28f6289efc19ee5.

[2016-10-05 04:38] #38 closed

[2016-10-17 02:12] e-cloud opened #39 "hovercard could be annoying for a ToC when viewing markdown"
It only happens when viewing a repo readme in its home page like [this one](https://github.com/AngularClass/angular2-webpack-starter)
Is there a way to prevent hovercard to process those links

[2016-10-17 02:15] e-cloud commented on #39
another interest of concern is i develop a outliner for markdown, when navigating from the ToC, there are too many hovercards

[2016-10-17 03:37] Justineo commented on #39
It seems that we should prevent links inside current page from being extracted. I shall implement this soon.

[2016-10-17 05:56] e-cloud commented on #39
great, you see it clearer

[2016-10-17 19:07] Justineo commented on #39
Fixed in 642059699229e080ae810201bbc8ac7f84a2bf89

[2016-10-17 19:07] #39 closed

[2016-10-24 12:41] sahal2080 opened #40 "Enhance Repository Search-Results Hovercards"
On repository search-results page, it'd be far more productive if the hovercard parses and shows the readme of the project (something similar to what it does with on the Issues page). Right now the only extra bit of information it's adding is the number of issues the project has.

Thank you for having a Firefox version btw 👍

[2016-10-24 12:57] Justineo commented on #40
@sahal2080

That will lead to 2 more AJAX request to the GitHub API (one for getting readme content and the other one for converting `.md` content into HTML). Readme files can be very large and this feature may extremely slow down displaying repo cards.

Yet this is also useful so I will try to implement this later. (Maybe we'd better add an option for it in case others don't like this.)

[2016-10-24 13:40] sahal2080 commented on #40
I'm all for having options! Performance doesn't have to suffer much if we think about it only as a _preview_:
- Cancel the second API call and instead use [showdown](https://github.com/showdownjs/showdown) on the [client side](https://github.com/showdownjs/showdown/wiki/extensions). It does original markdown which suffices for preview purposes
- Have a limit on the number of characters showdown wo

[2016-10-24 14:52] Justineo commented on #40
@sahal2080

Actually I did render Markdown content on the client side in earlier versions of this extension. After I tried Marked and Remarkable, I found it hard to get the same result as GitHub itself because they might not take care of GitHub's extensions for Markdown such as emojis, short links for issues/repos and so on. What's more, I have to deal with XSS filtering on the client side too. So

[2016-10-24 14:52] Justineo commented on #40
@sahal2080

Actually I did render Markdown content on the client side in earlier versions of this extension. After I tried Marked and Remarkable, I found it hard to get the same result as GitHub itself because they might not take care of GitHub's extensions for Markdown such as emojis, short links for issues/repos and so on. What's more, I have to deal with XSS filtering on the client side too. So

[2016-10-29 09:57] fvgyhnb opened #41 "【海波特大学毕业证文凭】<Q/V:176555708>【(咨询美国学校学历认证毕业证)(办理美国学校毕业证回国人员证明)(办理美国学校毕业证雅思成绩单)(美国学校毕业证)】成绩单】:享受正常留学生福利待遇!High Point University"
--- 【毕业证】---?↑↑〔 176555708 〕↓↓?---留学归国服务中心毕业证 -如果您是以下情况毕业证,我们都能竭诚为您解决实际问题毕业证 。
1、【在校】期间毕业证,因各种【原因】未能顺利毕业,拿不到【官方】毕业证 。

2、面对【父母】的压力,希望尽快拿到毕业证 ！！！！！！！！

3、【不清楚流程以及材料该如何准备？】

4、【回国时间很长忘记办理毕业证 ？】

5、【回国马上就要找工作办毕业证用人单位看？】

6、【企事业单位必须要求办理的？ 】

 【QQ】/微信号：【176555708 】 Emai：176555708@qq.com

专注英国、美国、澳洲、新西兰、加拿大、爱尔兰、法国、德国、荷兰、意大利等地区高精端提供以下服务
◆办理教育部国外学历学位认证。网上可查、永久存档、快速稳妥回国发展考公务员落户进国企外企创业无忧愁　
◆办理真实使馆公证即留学回国人员证

[2016-11-02 04:17] Justineo commented on #40
The feature is implemented as discussed earlier (with an option to turn off) and will be shipped in the next version (`0.9.0`). And I found that rendered readme files are directly available from GitHub API (no need for the third request for Markdown rendering).

[2016-11-02 04:17] #40 closed

[2016-11-11 21:12] julmot opened #81 "Disable Hovercard on "Projects" or add a delay"
When working on GitHub Projects I was annoyed by Hovercard because the tooltip appeared when moving cards around. I'd vote to disable them in the "Projects" tab or at least to add e.g. a 300ms delay to make sure the tooltip doesn't appear accidentally.

[2016-11-13 10:17] akash-vartak opened #82 "A slightly larger hover-card"
Could the hovercard size when hovering over username be made a little larger, or could someone point me to the file where this change needs to be done and I'll make that change. :+1:

[2016-11-14 10:29] Justineo commented on #82
Would you please be more specific on this? What new design are you proposing?

[2016-11-14 14:13] akash-vartak commented on #82
Take this for example
![screenshot from 2016-11-14 19 33 48](https://cloud.githubusercontent.com/assets/8259599/20267797/6363f68a-aaa2-11e6-8a79-77bba8a3ab35.png)

The hovercard's default size can be made a little bigger to help people read better may be a few 10px wider and taller. I reiterate that I could make the change if you could guide me to the file. :+1:

[2016-11-14 15:53] Justineo commented on #82
Actually I intend to keep the hovercards as small as they need to be so they won't take too much space. And I'm not sure how much the extra 10px will help with readability.

Let's keep this issue open for a while to see whether there are others who share your opinion.

[2016-12-19 02:27] gluons opened #84 "Not compatible with multiprocess"
Mozilla's [Add-on Compatibility Reporter](https://addons.mozilla.org/en-US/firefox/addon/add-on-compatibility-reporter/) say that [GitHub Hovercard](https://addons.mozilla.org/en-US/firefox/addon/github-hovercard/) is **not compatible with multiprocess**.

<img width="794" alt="default" src="https://cloud.githubusercontent.com/assets/4688092/21299355/4f58acc6-c5cd-11e6-9342-708260382c90.PNG">

[2016-12-19 03:50] Justineo commented on #84
It's already compatible but I forgot to declare that in package metadata. I'll fix it in the next update.

[2016-12-30 03:44] Justineo commented on #82
I'm closing this for now. Thanks for the suggestion though :)

[2016-12-30 03:44] #82 closed

[2017-01-03 02:09] gluons commented on #84
Fixed in **0.9.2**.

<img width="804" alt="default" src="https://cloud.githubusercontent.com/assets/4688092/21598726/47478624-d194-11e6-82e8-65657a99a8e2.PNG">

[2017-01-03 02:09] #84 closed

[2017-01-04 12:30] akash-vartak commented on #82
Sure...

[2017-02-01 02:54] gluons opened #85 "[Feature Request] Support GitHub Topics"
GitHub just releases new feature called [Topics](https://github.com/blog/2309-introducing-topics).

I request for the feature to show repo's topics in hovercard.

Regards. 😊

[2017-02-01 13:28] Justineo commented on #85
The topic information is not available from GitHub API yet AFAIK.

[2017-02-02 02:02] gluons commented on #85
Oh! Sorry. 😳
Hope they will release API soon.

[2017-02-04 13:08] nirodg commented on #81
I totally agree with @julmot

[2017-04-03 13:07] WOnder93 opened #86 "Limit the number of displayed tags for commit"
When I hover over a commit that has a lot of tags (just try it with some really old commit on https://github.com/torvalds/linux/), the popup tries to display all of them, which results in a huge popup and the important parts are often hidden behind the edge of the window.

It would be nice if there was some limit on the number of displayed tags (say, 10) with the rest replaced by an ellipsis.

[2017-04-03 15:14] ck-- commented on #81
As far as I can see that is already implemented, so please close.

[2017-04-03 15:34] ck-- opened #87 "Would like to see conversation history of issues and PRs"
Currently you only display the initial comment but it would be good to see the whole history of the issue/PR in the hover card (you already allow scrolling).

PS: Many thanks for providing hovercard ... that is a great extension!

[2017-04-04 03:00] Justineo commented on #86
Thanks for the suggestion. I'll fix this in next releases.

[2017-04-04 03:01] Justineo commented on #81
@ck-- Actually it's not, are you saying hovercards are not working on Project pages?

[2017-04-04 03:07] Justineo commented on #87
I think display the whole discussion context might be too heavy for a hovercard. Not to mention that this may involve pagination and other complicated stuff. So I probably won't implement this feature. But still thanks for the suggestion.

[2017-04-04 03:07] #87 closed

[2017-04-09 05:57] gluons opened #88 "[Setting Request] GitHub Token in add-on/extension options."
It should be great if I can set my **GitHub token** when I want. (And before limit reached) :smile:

Could you add this in add-on/extension **options** :question:

[2017-04-09 06:19] Justineo commented on #88
Currently the extension can work on multiple sites (GitHub Enterprise) and for various browsers, this might not be trivial because setting up options in Firefox/Safari are not as flexible as they are in Chrome/Opera/Edge. Maybe we can find a better way to setup access tokens on GitHub site(s).

[2017-04-09 08:58] klihelp opened #89 "Resizable panel?"
For project's long descriptions, and if they contain images, a wider panel is better..

[2017-04-20 11:49] Justineo opened #90 "Issue/PR status badge lost background color"
It's because GitHub has changed their status badges' `class` to something like `State State--green`. Maybe we'd better remove these dependencies ASAP due to their continuous updates.

[2017-04-20 22:42] futagoza opened #91 "Feature Request: More information on "Insert Access Token" popup"
Currently when inserting an access token, the actual webpage is darkened and an input box is displayed.

Can you please display more information here, like what permissions the token requires. I wasn't sure about the permission scopes, and just enabled all read-type scopes.

__EDIT:__ These are the scopes I enabled:

* repo
* read:org
* read:public_key
* read:repo_hook
* notifications
* user

I ha

[2017-05-21 10:53] EMLVIRUS commented on #89
I'm glad to see such contents

[2017-05-21 10:55] EMLVIRUS commented on #87
@Justineo Maybe add an option for that and set it off as default?
Sometimes I'm really found it helpful

[2017-05-25 04:42] manparvesh opened #93 "Hovercard shows on marketplace links"
The hovercard starts to load on marketplace links, but since these links do not point to a user or repository, they show a `Not found` error.

[2017-05-25 05:04] manparvesh commented on #93
I want to send a PR for this, but I am not able to build the extensions  as I am not much familiar with gulp. A little help please?

[2017-05-27 08:01] Justineo commented on #90
Fixed in 1.0.3.

[2017-05-27 08:01] #90 closed

[2017-05-27 08:06] Justineo commented on #89
Actually I don't want to encourage users to read detailed information from hovercards. The extension aims to provide quick access for general information and if users get interested they can follow the repo link to get better reading experience. So I'm not gonna support this feature request. But thank you for the suggestion anyway. 😄

[2017-05-27 08:06] #89 closed

[2017-05-27 09:53] #86 closed

[2017-05-27 09:53] #93 closed

[2017-05-29 09:43] jhanzo opened #94 "Improvment on PR card"
It could be interesting to have more info about reviewers in PR hover card, especially something about each reviewer and status (with an icon).

I would be interesting in creating a PR for this but I don't know how your architecture is done and where to put a such code.

[2017-06-05 15:14] Justineo commented on #85
Implemented via a1130dd.

[2017-06-05 15:14] #85 closed

[2017-06-06 07:07] Justineo commented on #81
Added an option to disable hovercards on projects. (v1.1.0)

[2017-06-06 07:07] #81 closed

[2017-06-16 15:31] ummahusla opened #95 "Marketplace should be added to the reserved names"
![hovercard](https://user-images.githubusercontent.com/2536096/27233394-31ef2de2-52b1-11e7-8021-b28b72fc1001.png)

[2017-06-18 14:02] ummahusla commented on #95
Closing as it's been merged

[2017-06-18 14:02] #95 closed

[2017-06-28 03:05] dylmye opened #97 "Disable/modify hovercard for Marketplace"
GitHub have released a 'marketplace' for addons. The catalogue is available [here](https://github.com/marketplace).

Marketplace items currently show a hovercard, and obviously it doesn't work as it isn't a repor:
![example of hovercard for a marketplace item](https://user-images.githubusercontent.com/7024578/27618904-d5cd3c3e-5bb6-11e7-95f6-da02392e140b.png)

The following URL pattern could be ex

[2017-06-28 03:18] Justineo commented on #97
It's already been fixed in source code earlier. I'll release a new version asap. Thanks for reporting!

[2017-06-28 03:18] #97 closed

[2017-06-28 07:12] Justineo commented on #97
I have published v1.1.1 in Chrome Web Store which includes this fix. Firefox/Opera versions are under moderation at the moment.

[2017-07-17 21:36] Nefari0uss opened #98 "Firefox Extension is Legacy; Migrate to Web Extension"
The current Firefox extension is as of now, a legacy add-on. It needs to be migrated to a Web Extension. As there is a current Chrome implementation, I am inclined to believe that it should be doable without too much work.

[2017-07-18 00:20] Nefari0uss commented on #98
Here is a link to converting Chrome extensions into FireFox web extensions: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_Google_Chrome_extension

[2017-07-18 01:54] Justineo commented on #98
Thanks for the concern. 👍

I've already been using WebExtensions for some time on my other browser extensions (and Edge version of GitHub Hovercard) so I'll migrate GitHub Hovercard before Firefox v57.

[2017-07-18 17:03] Justineo commented on #88
Implemented via c450ba3. Double click any hovercard and the token form will pop up with more detailed information.

[2017-07-18 17:03] #88 closed

[2017-07-18 17:06] Justineo commented on #91
Implemented via c450ba3. Double click on any hovercard and the token form will pop up with more detailed information. Only `public_repo` and `user:follow` are required for star/unstar and follow/unfollow operations to work.

[2017-07-18 17:06] #91 closed

[2017-07-19 02:01] gluons commented on #88
Thank you. 😻

[2017-07-29 12:11] simonsmh opened #99 "A bad looking when project name is too long."
![image](https://user-images.githubusercontent.com/9512067/28744739-dcb59ce8-7499-11e7-8a27-90b4037175ac.png)
Actually all the white area should be the same word `Magisk-Modules-Repo`.

[2017-08-02 12:36] #99 closed

[2017-08-02 15:02] Justineo commented on #99
@simonsmh What happened?

[2017-08-02 15:05] simonsmh commented on #99
Just a conflict between theme plugins...😅Sorry

GU Yiling <notifications@github.com>于2017年8月2日周三 23:02写道：

[2017-08-02 15:07] Justineo commented on #99
OK. Thanks.

[2017-08-27 10:11] EMLVIRUS opened #100 "可以使用您的代码不？"
我现在筹划与其它人一起写个扩展，也需要用到token，是否可以使用本项目代码？
当然，是非盈利的，也是开源的。

https://github.com/Bookmark-Sync-Plus/Bookmark-Sync-Plus

[2017-08-27 13:52] Justineo commented on #100
可以的。项目协议是 MIT 的，我忘了加到 repo 里了。

[2017-08-27 13:52] #100 closed

[2017-08-29 20:15] stlaz opened #101 "Pull Requests: add name and status of CI jobs"
First of all, a great extension you've got here!

There's one thing I miss in GitHub PR interface that I think might be a nice to have as a feature here. We have a multitude of jobs that are being triggered on every PR. Failure of some may require an immediate action but you always need to click the PR, scroll all the way down and see which jobs are running/failing/succeeding.

It would be very he

[2017-09-06 02:17] Justineo commented on #101
It's technically possible but this requires to load all content for a PR including comments, Git mergeability checks and job status checks, which may cause the loading process very slow for a PR with a lot of discussion.

[2017-09-06 02:20] Justineo commented on #101
GitHub API provides a `mergeable` field so that it's trivial to add mergeability check result to hovercards.

[2017-09-12 02:46] Justineo commented on #94
It's implemented and will be shipped in v1.3.0 soon. Thanks for the suggestion! 👍

[2017-09-12 02:46] #94 closed

[2017-09-14 03:30] GeekaholicLin opened #102 "a render problem in the notification page"
The extension causes wrong  render in notification title which includes HTML tag.

The issue title like `<details> <summary> 語法無法正確 render` can be render correctly in the issue page, but incorrectly in the notification page.

The notification page:

![render](https://user-images.githubusercontent.com/13808849/30321222-eadb45a4-97e7-11e7-8ba1-0524727a7e91.png)

The issue page:

![image](https://use

[2017-09-14 05:37] Justineo commented on #102
Thanks for reporting! I'll look into this.

[2017-09-27 08:37] yeliex opened #103 "[feature] open in new window instead tab"
add option or feature to support open in new window

[2017-09-27 08:57] Justineo commented on #103
I'm not quite catching your point. To open a link in a new tab you can use <kbd>ctrl</kbd> + click for Windows or <kbd>command</kbd> + click for macOS.

[2017-09-29 06:14] Justineo commented on #98
I've already submitted the v1.3.2 to AMO as WebExtension. It'll be released very soon. Thanks for your support!

[2017-09-29 06:14] #98 closed

[2017-09-29 08:13] jrappen opened #104 "Typo in index.html"
Typo in `index.html#L88` where `gh-pages` should have been `master`.

Compare:

https://github.com/Justineo/github-hovercard/blob/2e92bfbae4d09b3ce7473dc3a5376f1825df2f49/index.html#L88

[2017-09-29 08:35] #104 closed

[2017-09-29 08:35] Justineo commented on #104
Fixed. Thanks for reporting!

[2017-09-30 02:38] futagoza opened #105 "Stopped working "Connection error""
GitHub Hovercard seems to have stopped working, outputting the error:
[code]
The extension was working fine yesterday, so most likely the recent update caused the error.

I'm using Firefox x64 on Windows 10 Home.

[2017-09-30 02:50] Justineo commented on #105
I ported the Firefox version to WebExtensions yesterday. It worked fine when I load it in debug mode and after publishing to AMO it stopped working. I'm still figuring out what caused the problem. Any help will be appreciated.

[2017-09-30 03:16] Justineo commented on #105
Oops, I've found the problem here. The build script wrongly packed the Chrome version with inadequate permission in its manifest file for Firefox add-ons. I've republished the add-on.

[2017-09-30 03:16] #105 closed

[2017-09-30 03:21] #103 closed

[2017-10-08 17:57] tanmayrajani opened #106 "Hovercard and native tooltip both are visible"
Now that GitHub has introduced native tooltips on links, hovercard and native tooltip both are visible at the same time. They even overlap at few places. Maybe we should somehow disable the native tooltip?

Take a look at this screenshot:

<img src="https://user-images.githubusercontent.com/8295888/31319365-9bbeaab8-ac7f-11e7-8597-42bdb93467ea.png" width="550">

[2017-10-09 02:21] Justineo commented on #106
Thanks for reporting! I'll look into this soon.

[2017-10-12 03:31] #102 closed

[2017-10-12 03:32] Justineo commented on #102
This will be fixed in 1.4.0 soon, thanks!

[2017-10-12 03:45] #106 closed

[2017-10-14 12:51] progkix opened #107 "GitHub Hovercard Locks Firefox"
I've been experiencing this issue with the last couple of releases.

With Hovercard enabled and on a repository release page, Firefox will go Not Responding (Win) / freeze (Mac / Linux) when downloading files. I have to end / kill the Firefox process and restart it.

When Hovercard is disabled, I can download all the files without any freeze.

[2017-10-14 12:56] Justineo commented on #107
Thanks for reporting. Could you provide a reproduction URL?

[2017-10-14 15:33] progkix commented on #107
Happened this morning on these 2:

https://github.com/atom/atom/releases
https://github.com/trazyn/weweChat/releases

Also, the settings are as follows:

Delay: 200ms
Show user hovercards for myself: Checked
Show readme content for repos: Not Checked
Disable hovercard for projects: Checked

[2017-10-15 02:07] Justineo commented on #107
Thanks! I'll look into this.

[2017-10-26 08:13] TrueFurby commented on #107
This happens to me as well. Seems like it occurs when there is larger amount of data.

It does not happen for me when using links @progkix posted, but happens here for example: https://github.com/ligato/vpp-agent/commit/89a848efe3b5c4a4f75ceb134f8bd856f89162da#diff-77cf164667f1e1787f3cfd67f3a4cb13

[2017-11-03 03:30] gluons commented on #107
Me too.

**Translation:** "Scripts in **GitHub Hovercard** makes Nightly slower"

<img width="957" alt="default" src="https://user-images.githubusercontent.com/4688092/32359601-c54d022e-c081-11e7-8903-1c49bfd5d822.PNG">

[2017-11-03 11:02] progkix commented on #107
I can confirm what TrueFurby reported - large amounts of information on the release page slow down / lock up Firefox. If there's not very much on a release pages, it's not a problem.

[2017-11-08 06:55] Justineo commented on #107
Since I can't reproduce the problem on my side, I'll release a new version later with some potential performance gains on release page. Tell me if the new version will solve the problem. Thank you guys!

[2017-11-09 15:36] progkix commented on #107
I've been using 1.4.2 since it was released and have not noticed any slowdown or lockups.

And I hit some pretty heavy repos too.

[2017-11-09 16:02] Justineo commented on #107
@progkix Good to hear this. So I'm closing this now and please feel free to reopen or file new issues if that happen again.

[2017-11-09 16:02] #107 closed

[2017-11-20 08:18] kamontat opened #109 "Safari version is not working"
`no safari extensions certificate`

![screen shot 2017-11-20 at 15 18 05](https://user-images.githubusercontent.com/14089557/33008541-0cf5b5d0-ce06-11e7-9a50-6847c8f80098.png)

[2017-11-20 08:42] Justineo commented on #109
It's not an error. The Safari version is no certificated because that requires me to join Apple Developer Program which costs $99/yr.

[2017-11-20 08:43] kamontat commented on #109
It's mean safari isn't support anymore right?

[2017-11-20 08:49] Justineo commented on #109
“No Safari Extensions Certificate” is just a warning. Do you mean that the extension isn't working in Safari? If so you can just reopen this and I'll look into this later.

[2017-11-20 08:50] kamontat commented on #109
yes, I cannot use this extension on my safari

[2017-11-20 08:54] Justineo commented on #109
OK. I'll look into this.

[2017-11-25 10:11] gluons opened #110 "Page scrollbar disappears after mouse out"
Sometime when I move mouse out from card, the scrollbar of GitHub disappear. I can't scroll page anymore.

I have to move mouse in & out card (many times) to bring it back.

**Browser:** Firefox Nightly 59.0a1
**OS:** Linux Mint 18.2 - 64bits

[2017-11-26 06:32] Justineo commented on #110
Thanks. That's a known issue and will be fixed in the next version.

[2017-11-26 17:01] #110 closed

[2017-11-27 02:18] gluons commented on #110
Oh! This fix has been released. 🎉

![default](https://user-images.githubusercontent.com/4688092/33247870-d1d145d4-d353-11e7-87c5-68798a367b47.png)

[2017-12-13 14:58] Nefari0uss opened #111 "Gitlab and Bitbucket Support?"
Would you consider adding GitLab and BitBucket support?

[2017-12-13 16:37] Justineo commented on #111
The current logic is tightly coupled with GitHub and it requires a lot more work to dig into GitLab/Bitbucket's API. I think it's better to provide separate extensions for them.

Thanks.

[2017-12-13 16:37] #111 closed

[2017-12-19 09:54] Justineo commented on #109
`v1.4.4` should be working on Safari. Feel free to reopen this issue if the problem still exists.

[2017-12-19 09:54] #109 closed

[2017-12-19 09:57] Justineo commented on #101
PR cards now provide information about reviews and mergeability bu CI jobs are not exposed in GitHub API so this feature might not be implemented here for now. Thanks for the suggestion anyway.

[2017-12-19 09:57] #101 closed

[2018-01-15 18:53] Jahhein opened #113 "Changing Github API token (Chrome)"
I've looked around in the README and closed issues and I cannot find any information on changing the API token that was assigned to the extension when first prompted for one.

I wanted to follow someone but I didn't have the correct permissions assigned to the previous token. Editing the token for this extension seems to be nearly impossible aside from clearing cookies which I don't want to do. Lo

[2018-01-15 23:56] Justineo commented on #113
See [FAQ](https://github.com/Justineo/github-hovercard/blob/master/README.md#faq):

[2018-01-16 00:39] Jahhein commented on #113
Thank you. I dont know how I missed that. :(

I apologize.

[2018-01-16 01:49] Justineo commented on #113
It's okay :)

[2018-01-16 01:49] #113 closed

[2018-02-24 10:10] alex-bender opened #114 "Add language details feature"
Hello!
It's really nice tool, thanks for that!
I'd like to suggest one improvement -- `add language details` bar to hover.
I've been thinking about implementing such extension by myself, but looked around instead, and found your repo. I think that at least main language will provide better user experience for your tool.
Thanks

[2018-03-06 19:11] jacob-long opened #115 "Delay not working in Firefox"
No matter what value I set for the delay, there's no change in how long before the hovercard shows up. I'm using 1.4.4 and Firefox 58.0.2.

[2018-03-07 03:29] Justineo commented on #115
Options wasn't loaded correctly. I've fixed this in 1.4.5.

[2018-03-07 03:29] #115 closed

[2018-03-07 03:38] jacob-long commented on #115
Can confirm the fix works for me. Great work!

[2018-03-09 22:24] akatrevorjay opened #116 "Storing built copies in the repository makes it hard to keep a fork"
Hi. Love what you've done here.

I run my extensions locally and I pick a time that I update them all as I see fit.

Unfortunately, it makes it hard to git pull from any fork when the build extension contents are stored in the repo.

Would you be against at least adding that to gitignore? That way I can at least pull without writing a shitty script around git to ignore those files. Gross ;)

[2018-03-09 22:28] akatrevorjay commented on #116
Oh, actually, this doesn't store the built exts (many do, sorry!)

The manifests however, would you be okay with a PR to make those generated from a template instead of putting them `/extensions/{browser}`?

[2018-03-15 14:12] maple3142 opened #117 "git url of a github repo should show hovercard"
![Image](https://i.imgur.com/TO8kuAX.png)
I think hover card of `https://github.com/theme-next/theme-next-fancybox3.git` should be same as `https://github.com/theme-next/theme-next-fancybox3`

[2018-03-20 17:40] falcucci opened #118 "ability to close/repoen issues"
Please.

It would be awesome if it had the ability to close/reopen issues when hover!

[2018-03-21 15:48] falcucci commented on #118
I did some changes for a personal use. It is a necessity once that you are using a agile board based on issues on github like me.

[2018-03-21 15:51] falcucci commented on #118
A pull request would be welcome?

[2018-03-24 14:22] Riajyuu opened #119 "Optionally Disable GitHub User Hover"
![image](https://user-images.githubusercontent.com/16912240/37865028-ad69852a-2fb1-11e8-9016-1449e559132a.png)

Two hover cards shown up together seems really strange

[2018-03-24 14:38] Justineo commented on #119
GitHub delivered this user hovercard feature like yesterday or the day before. I'll fix this later maybe by disabling the native hovercard but extract the additional contextual information there into the extension's hovercard. I've been busy this week so I'll have to fix this after a week or two.

[2018-04-16 06:44] jachstet-sea opened #120 "Unable to add GitHub Enterprise domain"
Hi and thanks for this nice Extension. While it worked in the past, it is somehow no longer working with our GitHub Enterprise instance. When I try to add the URL in the Addon's settings, it reports "Domain permission denied." after clicking the "Save" button. I also don't see a way to grant the Addon that permission.
Any ideas?

Update: Forgot: Fireox 59.0.2, github-hovercard 1.4.5

[2018-04-17 04:49] Justineo commented on #120
I'll look into this in a few days, thanks for reporting.

[2018-06-04 04:29] xahon opened #121 "Extension slows down firefox quantum"
I'm using Ubuntu 18.04 and Firefox quantum 60.0.1

When I'm researching PRs page a message popup appears at the top of the viewport

![image](https://user-images.githubusercontent.com/18731681/40897923-57b07ffc-6801-11e8-9f56-6f3b7b3fcd58.png)

And it really makes it very slow. When disabling the extension this page is loading faster

[2018-07-12 01:29] gluons commented on #121
Similar to #107.

I also face this issue sometime now. Seems this issue is back.

[2018-07-12 02:01] Justineo commented on #121
@gluons Can you provide a real reproducible URL? Thanks!

[2018-07-12 02:04] gluons commented on #121
@Justineo It's randomly happen. OK. If I see this message again, I'll put it here.

@xahon If you face that warning again, please put the URL here.

[2018-07-12 10:53] talha131 commented on #121
@Justineo I have been noticing this issue in FF Dev Edition for few months now.

It almost always happen in project page of a private repo, size of which is around 7.5 GB. I haven't noticed this issue, in public repos or non-project pages so far.

It could be my observation is biased b/c I spent most of my time in the said private repository.

[2018-07-16 02:52] gluons commented on #121
OK. I just see this message again on https://github.com/facebook/react-native/issues/14209

[2018-08-31 10:55] jachstet-sea commented on #120
Same problem with v1.5.1

[2018-10-02 17:15] #117 closed

[2018-10-04 05:45] brijeshsch commented on #120
hi @Justineo any tentative date this could be resolved on the enterprise edition? Thanks

[2018-10-08 04:57] Riajyuu opened #123 "SVG image in README display failure"
check this out

![image](https://user-images.githubusercontent.com/16912240/46592920-9fb66b80-caf9-11e8-9122-7e40eafdb03a.png)

[2018-10-08 10:32] #119 closed

[2018-10-08 10:32] #120 closed

[2018-10-08 10:37] Justineo commented on #123
Fixed via 6ad2bf6.

[2018-10-08 10:37] #123 closed

[2018-10-08 14:20] brijeshsch commented on #120
Thanks it works fine.

[2018-10-15 14:52] jachstet-sea commented on #120
Agreed, I just updated to v1.6.0 and the issue is fixed! Thanks!

[2018-10-16 15:50] Cologler opened #124 "[FR] cache data for speed up"
Request data should cache in sessionStorage.

[2018-10-18 09:37] tristanbes opened #125 "Positionning is frustrating"
Hello,

Can you change the position of the tooltip to the Right ?
Or at least provide an option to do so ?

Right now it's frustrating because the tooltip hides so much information on Github when it appears, and then you have to mouve out with your mouse, then go back down to continue navigating.

It wouldn't be an issue if the tooltip opens on the right instead of top/bottom.

[2018-10-18 10:37] tristanbes commented on #125
I think it's not the delay, it's about closing the tooltip.
I hover a link, read the tooltip, then instead of just slightly move my cursor up or down to read the next tooltip content, I have to move outside, then replace my mouse cursor to the next element.

It's hard to explain, but do you get my point ?

[2018-10-18 10:57] Justineo commented on #125
I got your point. I think the problem occurs when you want to quickly inspect throughout a list of repos or something.

[2018-10-21 02:14] DogChan commented on #121
@Justineo this issue has been happening randomly to me, it is hard to navigate through GitHub because of it, my browser usually will give me the message GitHub Hovercard is causing Firefox to slow down, I think something in this extension is running in the background that might be using a lot of memory or fetching some web data, making the browser slow down.

[2018-10-21 08:08] Justineo commented on #121
@DogChan Can you provide an actual URL for me to look into? The slow down is more likely to be caused by those page with a lot of content.

[2018-10-21 21:45] DogChan commented on #121
@Justineo It happened to me three times in this one, https://github.com/30-seconds/30-seconds-of-code/blob/master/yarn.lock you should try to set some kind of limit, so the extension will stop trying to fetch data on links that you are not going to use, or are not currently using.

[2018-10-21 21:46] DogChan commented on #121
@Justineo It happened to me three times in this one, https://github.com/30-seconds/30-seconds-of-code/blob/master/yarn.lock you should try to set some kind of limit, so the extension will stop trying to fetch data on links that you are not going to use, or are not currently using.

[2018-11-01 20:46] kroppt commented on #121
It appears to me that the browser is just waiting on the extension when you try navigating to a new page. Perhaps if fetching could be cancelled upon navigation, that would limit the navigation delay.

[2018-11-03 08:50] #125 closed

[2018-11-03 17:02] Justineo commented on #125
Supported via a placement option in v1.6.1.

[2019-01-10 01:37] kroppt opened #126 "Freezes on opening Status"
The page cannot be interacted with until the extension is stopped.

To replicate:
- Click user picture in top right
- Click "Set your status"
- It opens and then freezes

[2019-01-10 06:20] Riajyuu commented on #126
this is a new feature delivered today. I just didn't troubleshoot too much yet

[2019-01-11 10:12] #126 closed

[2019-02-06 08:09] lonix1 opened #127 "[Feature Request] Hovercards for npm"
Not directly related to this extension. A similar extension/userscript for npm would be awesome. To show project details, stats, etc.

Didn't know how else to reach out, sorry. Go ahead and close this once you've seen it... And thanks for this extension (and the userscript), it's great!

[2019-05-05 09:05] linqiang007 opened #128 "The horizontal scrollbar of the code block overflows out of the readme of the card"
for image

![overflow](https://user-images.githubusercontent.com/12245095/57191366-3eebf600-6f57-11e9-8bd6-ad60383ad68f.png)

[2019-05-05 09:11] Justineo commented on #128
Do you have stable reproduction of this? I'm not able to reproduce this.

[2019-05-05 09:29] linqiang007 commented on #128
@Justineo you should scroll it, like this.
 [ink-text-animation](https://github.com/yardnsm/ink-text-animation)
<img src="https://user-images.githubusercontent.com/12245095/57191643-75774000-6f5a-11e9-945d-b45df492d8c3.png" width="400" />

[2019-05-05 09:35] Justineo commented on #128
Still not able to reproduce. And honestly I don't think it's a bug of this project (there's no way for developers to place scrollbar at that location) and there's probably something wrong with the browser.

[2019-05-05 09:35] #128 closed

[2019-05-15 01:19] ramlaxman opened #129 "[Feature request] Star the repos while hovering"
Whenever we hover any repo, there should be feature to:
- Star the repo
- Follow and unfollow user

[2019-05-15 01:56] Justineo commented on #129
It's already supported. Tripple click any hovercard and provide your access token to enable the feature.

[2019-05-15 01:56] #129 closed

[2019-05-26 05:43] MostHated opened #130 "Possible bug : Hovercard is overriding / disabling Stylus themes"
Hello,
    I was checking the settings out because [I use Stylus](https://github.com/openstyles/stylus) and [this Github Dark Theme](https://github.com/StylishThemes/GitHub-Dark) and my hovercards were always white so I thought I would tinker a bit, but as soon as I clicked on the settings in Hovercard Stylus disabled and my theme no longer worked. I disabled Hovercard and then my theme came back.

[2019-05-26 06:29] Justineo commented on #130
You can choose the dark theme in extension options.

[2019-05-26 06:29] #130 closed

[2019-05-26 06:31] MostHated commented on #130
Yes, when I do that, it disables my other plugin Stylus. What I am saying is, the style settings of Hovercard make my other addon Stylus not work. I have to disable Hovercard for my style that I actually want to use to come back.

[2019-05-30 16:44] darkred commented on #121
I have noticed in both Firefox 67/Chrome 74 (win 10) that with the extension enabled,
trying to type anything in a searchbox, makes the browser become painfully slow.

STR
- in a fresh Firefox/Chrome profile with only GitHub Hovercard 1.8.0 + Tampermonkey 4.8.41 with the following userscript: [GitHub Search Autocomplete](https://greasyfork.org/en/scripts/28592-github-search-autocomplete)
- open e.

[2019-06-07 18:11] darkred opened #131 "Conflict with the userscript 'GitHub Search Autocomplete' - the browser becomes very sluggish when typing anything in searchboxes"
I have noticed in both Firefox 67/Chrome 74 (win 10) that with the extension enabled,
trying to type anything in a searchbox, makes the browser become very sluggish.

STR (occurs consistently)
- in a fresh Firefox/Chrome profile with only GitHub Hovercard 1.8.0 + Tampermonkey 4.8.41 with the following userscript: [GitHub Search Autocomplete](https://greasyfork.org/en/scripts/28592-github-search-au

[2019-06-19 15:42] Naatan opened #132 "Please add a dark theme"
Dark mode is becoming more common every day, I try to use dark mode for everything. Sadly this extension is a big eyesore at the moment because it generates blinding white squares. Dark theme would be much appreciated!

[2019-06-19 15:51] Justineo commented on #132
Have you tried the classic theme in the extension options?

[2019-06-19 17:44] Naatan commented on #132
Ahh very nice, thank you! I missed it because when I click "Extension Options" on the extension page (in Opera) nothing happens, so I assumed it didn't have any options.

If I access options via the addon button in the toolbar it works though!

[2019-06-19 17:47] Naatan commented on #132
Hmm it seems this themeing is a little bugged. It works on some hovers but not others, also when I switch or refresh a page it may or may not work for the same ones that it did previously.

Restarted my browser and cleared cache, behaviour stays the same.

[2019-06-19 20:46] Cologler opened #133 "[bug] cpu usage up to 100% when switch between some page"
steps:

1. open https://github.com/MicrosoftDocs/Console-Docs/tree/master/docs
1. click file `TOC.md`

[2019-07-18 20:18] ForsakenHarmony commented on #133
https://github.com/ChrisRM/material-theme-jetbrains/compare/v4.0.5...master

another example

[2019-08-05 06:46] scott-ho commented on #133
same here, it has severe performance issue on large files comparison page.

[2019-08-06 16:27] ForsakenHarmony commented on #133
I've disabled the extension for now

[2019-08-07 18:00] fregante commented on #34
You can now remove that permission by using 2 modules I wrote recently:

https://github.com/fregante/webext-domain-permission-toggle
https://github.com/fregante/webext-dynamic-content-scripts

You'd just need:

[code]

[code]

[2019-08-13 08:02] maple3142 commented on #133
Same, it will freeze my browser on some big source file such as https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go

[2019-10-09 20:51] cpriest commented on #133
Same here, love the extension, but can't deal with the enormous performance issues.

[2019-11-19 15:18] niladam commented on #133
Actually, upon having a look at the files changed in a PR i get a huge CPU usage. For now, i've disabled this.

I am using the 1.8.0 version.

[2019-11-19 15:19] niladam commented on #133
@Justineo - sorry for posting this right after my previous comment, but i think a really good option to prevent this would be to somehow allow some sort of exceptions where the extension shouldn't be activated automatically.

[2020-01-21 08:42] fregante commented on #124
This is easily done with https://github.com/fregante/webext-storage-cache

[2020-01-25 07:34] nmai opened #140 "Huge slowdown / page freeze when viewing large diffs in PR (Conflict w/ Refined GH ext)"
Attempting to expand a diff with 830 changes appears to work fine until you attempt to scroll down- the page seems to truncate and end in whiteness and at that point scroll gets stuck and you cannot do anything on the page for 5-30s. Eventually the rest of the content loads up and behavior returns to normal.

Disabling hovercard extension and attempting to expand+view the diff again works as expec

[2020-01-25 07:55] nmai commented on #133
Can anyone chime in here and note whether they had the Refined Github extension installed at the time?

[2020-01-25 23:17] ForsakenHarmony commented on #133
Yes, have it installed (for other people, use reactions instead of posting comments)

[2020-01-27 02:45] nmai commented on #133
In that case I believe this is related to the issue I filed the other day- #140
My (admittedly unscientific) testing showed that heavy performance issues appeared on some pages while Hovercard+Refined were installed, but things were fine when only one or the other was installed. Would be great if someone else could confirm that.

So far though it seems like Hovercard + Refined just don't play well

[2020-01-29 01:09] cpriest commented on #133
Yeah, I ended up uninstalling it unfortunately.  I really liked it

[2020-02-15 01:17] MostHated opened #141 "Possible to disable plugin automatically when viewing code files?"
Hey there,
Love the plugin, I use it constantly and daily. I was wondering if it's possible to have the plugin automatically disable when viewing code files? More often than not, for some reason, on Firefox (not sure about Chrome) if I am in a repo and click on a code file, if the code file is any sort of moderate length, the plugin makes the browser hang and it comes up with the yellow bar at the

[2020-02-15 01:30] MostHated commented on #141
Nevermind, I see that there was an option for disabling in projects, my bad. Never saw that before.

[2020-02-23 01:57] chanjsq opened #142 "Add ‘Follow / Unfollow’ Button on User Card"
Something like this:

![image](https://user-images.githubusercontent.com/30150098/75102214-d32c6400-5622-11ea-89fa-cb85c66c3eab.png)

[2020-02-23 03:42] Justineo commented on #142
It's already supported. See [FAQ](https://github.com/Justineo/github-hovercard#faq).

[2020-02-23 03:42] #142 closed

[2020-03-18 09:52] MostHated opened #143 "Can this work for other sites, such as Githunt?"
Hey there,
    Is it possible to make this work for other sites, such as https://kamranahmed.info/githunt/ ? I added that domain in the options, but it didn't seem to allow it to work.

Thanks,
-MH

[2020-03-27 11:37] vjpr commented on #140
Yep saw this when scrolling in big diff in the Chrome Performance profile.

[2020-04-23 18:14] saeedhassansolangi opened #144 "Connection Error"
![connection-error](https://user-images.githubusercontent.com/45068032/80133953-782dd380-85b7-11ea-986f-018217dc2129.png)

first it was working fine but now  I am Getting This Error

and i am using ubantu and chrome browser

[2020-05-06 03:20] manohar-voggu commented on #144
Same, on Mac OS Catalina + Chrome Version 81.0.4044.129 (Official Build) (64-bit)
![Screenshot 2020-05-06 at 8 49 05 AM](https://user-images.githubusercontent.com/50870617/81135631-98c23a00-8f76-11ea-987c-4e5c9f5d5081.png)

[2020-05-06 03:56] manohar-voggu commented on #144
@saeedhassansolangi did u add a GitHub Access Token to the extension?

[2020-05-06 04:06] Justineo commented on #144
Did you add an access token which is not expired?

[2020-05-06 04:11] manohar-voggu commented on #144
@saeedhassansolangi it's because of Github Api rate limit.

I had this same error and solved it by adding a Github personal access token to the extension with said permissions

[2020-05-10 12:31] saeedhassansolangi commented on #144
@Justineo Yes, My __access token__ was expired after adding new access token it is working now .

[2020-05-10 12:39] saeedhassansolangi commented on #144
Thankyou @manohar-voggu for your reply . I have solved the issue with your guidance.

[2020-05-10 14:03] #144 closed

[2020-05-14 12:05] loilo commented on #140
Same when used together with the [GitHub Issue Link extension](https://github.com/bfred-it/github-issue-link-status) on pages with a lot of issue/PR links (such as the [TypeScript roadmap](https://github.com/microsoft/TypeScript/wiki/Roadmap)). Looks like the Hovercard extensions goes nuts when it has to "share" elements (like links) with another extension.

I'll attach the performance profile of

[2020-05-16 15:33] fregante commented on #140
Thanks, very useful. It looks like it's getting stuck in the MutationObserver calling `extract` dozens of times:

https://github.com/Justineo/github-hovercard/blob/beb1257d741b1c7e651a870faebcf9796420aeb6/src/hovercard.js#L32-L39

I think it would be more efficient to have a single `extract` call in the observer’s callback, especially because I think the `target` never changes since there's only o

[2020-05-16 15:40] fregante commented on #121
If that's the case, I think it's caused by https://github.com/Justineo/github-hovercard/blob/beb1257d741b1c7e651a870faebcf9796420aeb6/extensions/chrome/background.js

And can be solved by using this solution instead: https://github.com/fregante/webext-dynamic-content-scripts/blob/master/how-to-add-github-enterprise-support-to-web-extensions.md

[2020-05-16 15:40] loilo commented on #140
Yep, that's what I'd seen as well. However, doesn't look like there will be PRs accepted here anytime soon. 🙁

I had also solved this in a local fork of `github-issue-link-status` by wrapping [the class-adding code](https://github.com/loilo/github-issue-link-status/blob/master/source/github-issue-link-status.js#L124-L127) in a `requestAnimationFrame`. It works (not sure why, haven't taken a closer

[2020-06-22 11:23] mshibanami opened #146 "Safari extension is unsafe?"
README.md describes the safari extension as follows:
https://github.com/Justineo/github-hovercard/blame/beb1257/README.md#L20

However, that URL(https://minhaskamal.github.io/DownGit/#/home?url=https://github.com/Justineo/github-hovercard/tree/master/extensions/github-hovercard.safariextension) is regarded as an unsafe website by Google Safe Browsing. So Safari, Chrome and Firefox show this cautio

[2020-06-23 13:58] MinhasKamal commented on #146
Issue Details: https://github.com/MinhasKamal/DownGit/issues/31#issuecomment-638600876

[2020-08-26 11:44] Spurlos commented on #140
So, I have stumbled upon the same issue. Seems that this extensions is abandoned by its author. @Justineo can you please confirm if your are still willing to support this project?

[2020-09-05 07:29] Geeyun-JY3 opened #148 "Another scrollbar shows up if the GitHub Access Token window is opened in Dashboard page"
Another scrollbar shows up if the GitHub Access Token window is opened in Dashboard page. That looks strange.
![image](https://user-images.githubusercontent.com/49396421/92300226-e635ce80-ef8b-11ea-85d1-9353337c2056.png)

[2020-09-05 07:38] Geeyun-JY3 commented on #132
@Naatan Try [GitHub Dark](https://github.com/StylishThemes/GitHub-Dark). It [supports](https://github.com/StylishThemes/GitHub-Dark#supported-github-extensions) GitHub Hovercard.

[2020-09-06 23:39] chrismessina opened #149 "Sponsor URLs should be ignored"
![image](https://user-images.githubusercontent.com/22610/92337547-55302780-f05f-11ea-94e8-6ebd42d5d255.png)

Hover over the "say thanks" button on [this page](https://github.com/nikitavoloboev/alfred-my-mind), which links here:

https://github.com/sponsors/nikitavoloboev

Either a fancy Sponsor hovercard should be displayed, or it should be ignored.

[2020-10-12 11:01] #121 closed

[2020-10-12 11:01] #131 closed

[2020-10-12 11:01] #133 closed

[2020-10-12 11:01] #140 closed

[2020-10-12 11:01] #141 closed

[2020-10-12 16:37] strugee commented on #121
Thank you for your hard work, @Justineo! I for one really appreciate this extension and I'm excited this bug is fixed 🎉

[2020-10-13 02:22] Justineo commented on #149
Fixed in v1.9.0.

[2020-10-13 02:22] #149 closed

[2020-10-13 14:02] Geeyun-JY3 commented on #148
This bug seems got fixed. Maybe not a bug of GitHub Hovercard.

[2020-10-13 15:40] Geeyun-JY3 opened #150 "编辑历史中显示超链接更改内容的 tooltip 不会弹出"
编辑历史涉及一个会弹出 GitHub Hovercard 的超链接的更改时，鼠标悬停在该超链接上时显示超链接更改内容的 tooltip 不会弹出。这种情况是不是应该针对优化一下？

未开启 GitHub Hovercard 时：
![image](https://user-images.githubusercontent.com/49396421/95882944-e015e780-0dac-11eb-9820-94e7279e1387.png)
开启 GitHub Hovercard 后：
![image](https://user-images.githubusercontent.com/49396421/95874520-8b21a380-0da3-11eb-9f04-61c35ac06084.png)

具体例子可以查看我这条 [issue](https://github.com/

[2020-10-13 17:31] darkred commented on #131
The issue still occurs with the new version.

[2020-10-13 23:39] micgro42 commented on #121
Oh, I uninstalled this extension because that error was so annoying. I reinstalled it just now :). Thank you for your work!

[2020-10-14 05:16] Justineo commented on #150
目测这是其他扩展提供的功能，很遗憾要兼容所有扩展的行为这是无法保证的。

[2020-10-14 05:30] Geeyun-JY3 commented on #150
啊这不是 GitHub 官方的功能吗？
![image](https://user-images.githubusercontent.com/49396421/95947482-49374280-0e21-11eb-8eea-e25658b8fe01.png)

[2020-10-15 05:44] Justineo commented on #150
抱歉，我看漏了，没看到是编辑记录里面的。感觉这里应该忽略掉 commit 卡片比较好，还是显示内容变动。

[2020-10-15 06:26] Geeyun-JY3 commented on #150
同意

[2020-10-16 11:34] Geeyun-JY3 commented on #150
我觉得可以参考 GitHub 官方加个 [快捷键](https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/keyboard-shortcuts#site-wide-shortcuts)，当焦点在和 hovercard 上时，按 <kbd>esc</kbd> 键可关闭 hovercard 并重新聚焦在光标上。

[2020-10-19 09:01] #150 closed

[2020-10-21 09:43] tinect opened #151 "hovercard on unknown avatar"
If the avatar is unknown it doesn't have an url (not in an a-tag).
But this plugin tries to load it.
![image](https://user-images.githubusercontent.com/135993/96702986-9ae84b80-1392-11eb-937b-9438a822834d.png)

The selector should be restricted to parent a-tag for `avatar`

[2020-10-22 06:47] Geeyun-JY3 commented on #148
如何复现此 bug：
前提：未输入 access token
通过在 [首页](https://github.com/) 点击 `Forbidden` hovercard 的 `paste it back here` 弹出 access token form 即可复现
提示：通过在 hovercard 上三连击弹出 access token form 无法复现此 bug
![image](https://user-images.githubusercontent.com/49396421/96832826-f50c0e00-1471-11eb-8f4e-c5f9444fe8a0.png)

[2020-10-24 18:15] DenverCoder1 opened #152 "Hovercard on profile pictures shows info for the GitHub user named "avatar""
### Steps to reproduce

Hover over the profile picture of another user on their profile page

### What happens

The hovercard displays information about the [GitHub user whose username is "avatar"](https://github.com/avatar)

### What should happen

Either a hovercard about the user you are viewing or no hovercard at all

### Screenshot

![image](https://user-images.githubusercontent.com/20955511/

[2020-11-17 07:07] kidonng opened #155 "Consider using `github-reserved-names`"
To prevent issues like #149, github-hovercard is maintaining a list of reserved names: https://github.com/Justineo/github-hovercard/blob/bc470ae29edf05a3e267080f1dcda898eef10868/src/hovercard.js#L94-L134

There is already a good collection of them at https://github.com/Mottie/github-reserved-names. Would you consider using it instead?

[2020-11-17 07:12] kidonng opened #156 "Exclude bots"
Hovercard should be disabled for bots:

![Screen Shot 2020-11-17 at 15 11 13](https://user-images.githubusercontent.com/44045911/99357608-264bf280-28e7-11eb-8efa-b9d1cbde3c1c.png)

FYI, this is how Refined GitHub identify bots: https://github.com/sindresorhus/refined-github/blob/48bb7fee3d42575a223274e467102598b154ad0a/source/features/dim-bots.tsx

[2020-12-12 19:54] vincentscode opened #158 "New GitHub Dark Theme"
With the new GitHub dark theme the current theme of GitHub Hovercard sadly does not fit in with the UI anymore.
Would it be possible to add a fitting theme?
![Screenshot 2020-12-12 205342](https://user-images.githubusercontent.com/26576880/101993594-28258d80-3cbc-11eb-9220-ec75565f73cd.png)

[2020-12-14 18:12] Technetium1 commented on #132
This seems to be working very well with the new Dark mode. Would be nice if it were less translucent though... https://github.blog/changelog/2020-12-08-dark-mode-public-beta/

[2020-12-17 14:03] darkred opened #159 "Conflict with 'Refined GitHub' extension (Chrome only) - the tooltip with the names as you mouseover reactions no longer appears"
I have noticed that, when mouseover hover reactions, the the tooltip with the names doesn't appear
if you have enabled both GitHub Hovercard (GH) and Refined GitHub (RG) .

STR
- In a fresh Chrome 87 install GH 1.9.2 and RG 20.12.9  *(with Firefox the issue doesn't occur)*
- Go to e.g. https://github.com/violentmonkey/violentmonkey/issues/287 (login or not). See the 1st post: the latest 👍 reaction

[2020-12-24 10:57] aaznadi commented on #158
+1

[2020-12-24 13:43] Justineo commented on #158
There is a built-in classic theme which is dark but not dedicated for GitHub’s new dark mode. You can try switch to it by changing the extension options.

[2020-12-25 07:52] aaznadi commented on #158
@Justineo but it looks very nasty.
<img width="703" alt="screenshot" src="https://user-images.githubusercontent.com/71615388/103126408-79575900-468e-11eb-9d08-684b1224e7f1.png">

[2021-01-05 01:59] TreyRuffy commented on #158
I have added it in #160

[2021-01-13 22:09] darkred opened #162 "Conflict with 'Refined GitHub' extension: its `user-local-time` feature"
I have noticed that, if you have enabled both GitHub Hovercard (GH) and Refined GitHub (RG),
the `user-local-time` RG feature ([screenshot](https://user-images.githubusercontent.com/1402241/69863648-ef449180-12cf-11ea-8f36-7c92fc487f31.gif)) becomes broken.

STR

- In a fresh Chrome 87/Firefox 84 (win 10) install latest GitHub Hovercard 1.9.2 and Refined Github 21.1.10 extensions
- login to GitHub

[2021-01-14 02:32] Justineo commented on #162
The estimated local time of a user isn't provided by GitHub's API and Refined GitHub supports it by modifying GitHub's own hovercard, which is replaced by GitHub Hovercard's implementation (as you can see they are a bit different, like stats for followers/following/repos, follow/unfollow button, etc.). I don't think I'll fix this unless we can work out a "protocol" to share data across extensions.

[2021-01-14 18:27] darkred commented on #162
Ok, thank you for your response.

[2021-01-15 03:28] Justineo commented on #156
It may be hard to use this logic to cover all cases in GitHub Hovercard. Maybe we can maintain a list for known bots like `github-actions`, `dependabot`, etc.

[2021-01-15 03:35] Justineo commented on #158
Thanks to @TreyRuffy we now have two extra themes, both work for GitHub's dark mode!

[2021-01-15 03:35] #158 closed

[2021-01-15 03:55] Justineo commented on #159
![image](https://user-images.githubusercontent.com/1726061/104679304-5c132900-5728-11eb-9105-c65d63711b97.png)

This is because GitHub Hovercard will show a user hovercard on avatars and this may overlap with GitHub's native tooltips so we stop showing tooltips where a hovercard may be shown.

[2021-01-15 03:58] Justineo commented on #132
See #158.

[2021-01-15 03:58] #132 closed

[2021-01-15 03:59] #162 closed

[2021-01-15 04:01] Justineo commented on #152
Cannot reproduce. Are you still experiencing this problem?

[2021-01-15 04:27] #155 closed

[2021-01-15 09:42] DenverCoder1 commented on #152
Yes, still happens.

It occurs when you are on someone else's profile page (or in a private tab) and you hover over the large profile image. Tested this in Chrome and Brave.

This is what it looks like today after removing and reinstalling the extension.

![image](https://user-images.githubusercontent.com/20955511/104708288-2f5e1200-5726-11eb-90a8-dbb6fa323246.png)

[2021-01-15 10:11] Justineo commented on #152
Oh, I can reproduce that now. Thanks!

[2021-01-15 13:20] darkred commented on #162
Kindly cc'ing @fregante (because I missed that when I wrote the OP) in case he'd like to share his opinion on this.

[2021-01-22 18:21] aminomancer opened #164 "Access token popup reappears every time I double-click in a hovercard?"
Hi there, love this extension but I'm wondering if this is intentional or if there's something wrong with my storage. This is on firefox 86 on windows 10 fwiw. Extension version 1.9.3. So I already input a token and saved it, but any time I double-click inside a hovercard, the popup comes back. I had assumed it would only pop up on double-clicking the first time or if the token expires, but maybe

[2021-01-22 23:00] Justineo commented on #164
It should only pop up on triple clicks and it’s intentional. If it popped out on double clicks then it’s a bug.

[2021-01-23 08:56] aminomancer commented on #164
Yeah I'm pretty sure it was just on triple clicks and I was clicking too fast. I still think itd make more sense if it stopped asking for an access token after you input one though, but I'll try to make a PR to that end

[2021-03-17 09:35] kamekku14 opened #166 "Add support for GitHub's new Dimmed Dark theme"
Believe it or not, GitHub announces that [the new Dimmed Dark theme is now open for beta testing](https://github.blog/changelog/2021-03-16-dimmed-theme-beta-for-github-com/). To activate it, head to the **user menu** at the top navbar, go to **Feature preview** and enable **New dimmed theme \& settings**.
![image](https://user-images.githubusercontent.com/66167734/111446100-00c0df80-8747-11eb-9aa1

[2021-03-24 17:50] kidonng commented on #156
I don't think it's necessary, people usually just ignore bots.

[2021-04-10 14:31] shinenelson opened #169 "Firefox extension missing from addons.mozilla.org"
I am surprised that no one has noticed this yet. The link to the [Firefox add-on](https://addons.mozilla.org/en-US/firefox/addon/github-hovercard/) under [Published versions](https://github.com/Justineo/github-hovercard#published-versions) in the [readme](https://github.com/Justineo/github-hovercard/blob/master/README.md) leads to a 404 page. Searching for the keyword 'github hovercard' does not y

[2021-04-11 00:22] Justineo commented on #169
It has been taken it down by Mozilla and I was told they think there might be security vulnerabilities due to a core feature relies on directly outputting HTML from GitHub API (GitHub’s Markdown rendering API). Unfortunately I haven’t find time to deal with this yet.

[2021-04-11 02:55] shinenelson commented on #169
If you still remember what the problem was, can you please put it up as an issue so that someone can take it up?

From what you have described, I think I know what you are talking about. I might be able to help fix the issue if it is not too grave.

[2021-04-24 01:21] levifig commented on #169
@Justineo Has it been removed from the Chrome Web Store for the same reason or have you taken it down? :o

[2021-04-24 04:49] Justineo commented on #169
Google sent me a taken down notification yesterday claiming that I didn’t respond to their “previous” violation notification email which I didn’t receive. I contacted Google after that but haven’t received any response yet.

[2021-04-29 22:33] MostHated opened #170 "Adjust settings when installed via UserScript [ViolentMonkey - Firefox]"
Hey there,
    I have never tried to adjust something installed via ViolentMonkey on Firefox, are there settings like there are in the extensions? For some reason, the theme coloring of my hovercards became white today, but I am not sure the name I should be looking for within the userscript itself to try and change it back, and I don't see any sort of relevant settings in the ViolentMonkey UI. Do

[2021-04-29 22:38] MostHated commented on #170
Now that I look, it looks like I manually edited some of the colors manually and saved them in Stylus, so I am guessing something must have changed on githubs side for it to have changed the colors. Though, it would be good to know if settings exist and can be adjusted either way.

[2021-05-13 07:35] Justineo commented on #169
Update: The Chrome extension is back online. Reviewers for Firefox Add-on haven't replied my inquiry yet.

[2021-05-17 06:02] Justineo commented on #170
We do currently not support settings for the UserScript version. We do support switching themes for browser extensions.

[2021-05-17 06:02] #170 closed, assigned to nobody

[2021-05-17 19:18] RichardKCollins opened #174 "New Paradigm for the Internet - Hoverboxes, HoverCards, Layouts, Workstations"
When I recommended HoverBoxes to GitHub and others, I intended that they also be moveable, resizable, and hoverable and clickable themselves.  And that they could be dragged to Boxes/Panels/Cards to be iconized (an icon substituted and placed on the panel, which hovers opened the HoverCard/HoverBox.)

And that the HoverBoxes/HoverCard layouts for a screen or work session can be saved for different

[2021-06-02 22:23] Pk13055 commented on #169
Any updates regarding the firefox extension? I just got a new PC and realized I've been taking this extension for far too granted!

[2021-06-13 22:24] aspiers opened #175 "Cripples speed of GitHub Projects board view"
I have just noticed that this script severely impacts the performance of the project board view, at least for a board which has probably over a hundred cards and quite a bit of other complexity (many labels, milestones, 13 columns, automation rules etc.)  For example, dragging a card to another column takes several seconds, and everything feels very sluggish.

When I disable the script and reload

[2021-06-29 09:41] kamekku14 opened #176 "Add support for GitHub's new Dark High Contrast theme"
Echoing from issue #166, there's now a new Dark High Contrast theme for GitHub—and it's exactly the same as GitHub's Dark theme, but with better contrast. To activate it, head to the **user menu** at the top navbar, go to **Feature preview** and enable **Dark High Contrast**.
![image](https://user-images.githubusercontent.com/66167734/123774970-83d60200-d900-11eb-9105-d247a02089f5.png)

I would li

[2021-10-03 09:06] kamekku14 opened #178 "Add support for GitHub's new Colorblind themes"
Echoing from #166 and #176, there are two new Colorblind themes, which swaps the reds and greens with oranges and blues, making it work for colorblind users. To activate it, head to the **user menu** at the top navbar, go to **Feature preview** and enable **Colorblind Themes**.
![image](https://user-images.githubusercontent.com/66167734/135746921-0792af4a-0001-4dc5-921b-e347bf2c1f19.png)

I would

[2021-10-28 00:12] binury opened #179 "Clearing browser cache deletes token"
The **method** used by the extension (`localStorage`) to save the PAT is susceptible to deletion if browser cache is cleared

[2021-10-28 00:13] binury commented on #179
(Tested on Chrome 96.0.4664.9)

[2021-10-29 15:18] MaxymVlasov commented on #169
Still not available in FF store

[2021-11-24 07:59] kamekku14 opened #180 "Add support for GitHub's new Light High Contrast theme"
Echoing from #166, #176 and #178, there's now a new Light High Contrast theme for GitHub—and it's exactly the same as GitHub's Light theme, but with better contrast. This feature is enabled by default in **user menu** > **Feature Settings** for those who would like to test.
![image](https://user-images.githubusercontent.com/66167734/143196869-82f7f9d4-1bd9-4376-8c02-0e161531a0b9.png)

I would like

[2021-12-15 18:35] tjx666 opened #181 "cmd + h trigger hover card"
When I press `cmd + h`, the page shows hover card, but I can't find related setting in `chrome://extensions/shortcuts` page.

![image](https://user-images.githubusercontent.com/41773861/146245196-e9663d0b-4307-49ff-9a2a-4fcdf05a6a92.png)

另外：真的不考虑 content script 去掉 jquery 吗？

[2022-06-20 01:25] BlueGGuy opened #185 "Please add support for linked issues"
I'm hoping I have no conflicts with other extensions but presently it appears that the linked issues icon (on the PR page) doesn't support hovercards.

1. Go to the PR section.
2. Find a PR on the list find a PR that has a little circle icon that indicates the PR links to an issue.
3. Hover.

![image](https://user-images.githubusercontent.com/76034615/174691011-049bd43d-b54f-42ab-b92a-b74760570eb3

[2022-09-01 10:38] lonix1 commented on #169
Still unavailable from the addons site. Can it be installed manually?